input[type="email"] {
  background-color: bisque;
}

input,
textarea,
select {
  background-color: beige;
  color: blueviolet;
}

input:invalid {
  background: red;
}

input:invalid {
  background: green;
}