:root {
    --color-primary: #6c38cc;
    --color-primary-hover: #6030b9;
    --color-secondary:#E47AD5;
    --color-bg: #16171D;
    --color-bg-medium: #1E1F29;
    --color-bg-light:#2E2D3D;
    --space-10: 10px;
    --color-text:#fafafa;
    --color-link-hover:#8b8b8b;
    --color-stroke:#405064;
    --border-5:5px;
    --border-8:8px;
    --border-10:10px;
    --layout-width:1172px;
    --gradient:linear-gradient(93deg, #e66465, #9198e5);
    --color-footer:#101114;
}

* {
    box-sizing: border-box;
}

html {
    --color-primary: green;
    -webkit-font-smoothing: antialiased;
}

body {
    background: var(--color-bg);
    margin: 0 auto;
    font-family: 'Fira Sans', Courier, monospace;
    font-style: normal;
    font-weight: 400;
}
