#heroButton {
  background-color: rgb(89, 5, 128);
  color: aliceblue;
}

#heroButton:hover {
  background-color: blueviolet;
}

#heroButton:active {
  background-color: blueviolet;
}

.heroForm input:focus {
  background-color: aquamarine;
}

.link {
  color: rgb(91, 14, 235);
  text-decoration: wavy;
}

.link:hover {
  color: aqua;
}

h1,
h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
}

p {
  font-weight: 400;
  color: rgb(91, 14, 235);
}

.herotext {
  font-size: 18px;
  line-height: 24px;
}

.sectiontext {
  font-size: 16px;
  line-height: 36px;
}

header a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #050038;
  text-decoration: none;
}

.heroForm + p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #050038;
}

input:invalid {
  background: red;
}

input:invalid {
  background: green;
}

ul li:first-child {
  color: purple;
}

ul li:last-child {
  color: greenyellow;
}