body {
  margin: 0;
}

footer {
  background: #050038;
  padding:  47px 48px;

}

footer a {
  color: #ffffff;
  text-decoration: none;
}

#heroButton {
  background-color: rgb(89, 5, 128);
  color: aliceblue;
}

#heroButton:hover {
  background-color: blueviolet;
}

#heroButton:active {
  background-color: blueviolet;
}

.heroForm input:focus {
  background-color: aquamarine;
  border-radius: 3px;
}

.link {
  text-decoration: wavy;
}

.link:hover {
  color: aqua;
}

a::after {
  color: red;
  content: " > ";
}

a::before {
  content: " < ";
}

nav {
  padding: 33px 50px;
  border-bottom: 1px solid red;
  margin-bottom: 60px ;
}

nav ul {
  list-style: none;
  padding: 0; /*обнулили отступы*/
  margin: 0;

}

h1 {
  margin: 0 0 17px 0;
}

h2 {
  margin: 0 0 19px 0;
}

h1,
h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
}

p {
  font-weight: 400;
  color: rgb(91, 14, 235);
}

.herotext {
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 55px 0;
}

.sectiontext {
  font-size: 16px;
  line-height: 36px;
  margin: 0 0 40px 0;
}

.sectiontext::first-letter {
  /* Увеличит первую букву ровно в 1.5 раза от базового размера */
  font-size: 1.5em;
  /* Делает букву жирной, чтобы она выделялась */
  font-weight: 700;
}

header a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #050038;
  text-decoration: none;
}

.heroForm input {
    border-radius: 10px;
    border: 1px solid #9B99AF;
    height: 38px;
    padding: 0 0 0 10px;
}

.heroForm button {
  height: 38px;
  border-radius: 10px ;
  border: 1px solid #9B99AF;
  padding: 10px 20px;
}

.heroForm + p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #050038;
margin: 8px 0 52px 0;
}

input:invalid {
  background: red;
}

input:invalid {
  background: green;
}

/*
ul li:first-child {
  color: purple;
}

ul li:last-child {
  color: greenyellow;
}*/

ul li:nth-child(2n-1) {
  color: purple;
  background-color: antiquewhite;

  & a {
    color: rgb(215, 30, 215);
    background-color: antiquewhite;
  }
}

p:not(.sectiontext) {
  color: rgb(200, 21, 149);
}

.sectionList {
  list-style: none;
  list-style-image: url(../img/chk.webp);
}

.secSectionList {
  list-style: none;
}

.secSectionList li::marker {
  content: url(../img/chk.webp);
}

.experiment2 {
  background-color: rgb(223, 223, 250);
  width: 400px;
  height: 200px;
}

.experiment1 {
  background-color: rgb(223, 223, 250);
  width: 400px;
  height: 400px;
  padding: 10px 50px 20px 50px;
  margin: 20px auto;
}

.border1 {
  border-width: 5px;
  border-style: solid;
  border-color: blueviolet;
  border-radius: 20% 10%;
  box-sizing: border-box;
}

